body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 0px;
    margin: 0%;
    display: flex;
    flex-direction: column;
    justify-items: end;
}

.one {
    background-color: #1f2937;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    color: #E5E7EB;
    font-size: 18px;
    padding: 0px 45px 45px 45px;
}

.header-logo {
    color: #F9FAF8;
    align-items: center;
}

ul {
    list-style: none;
    border: none;
    padding: none;
}

.links {
    display: flex;
    gap: 16px;
}

.cards {
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    padding: 45px;
      
}
.left-card {
    flex: 1;
}

.hero-text {
    color: #F9FAF8;
    font-weight: bolder;
    font-size: 48px;
}

.sub-text {
    color:#E5E7EB;
    font-size: 18px;
}

.sign-Up {
    
    color: #F9FAF8;
    margin-top: 8px;
    padding: 4px 16px 4px 16px;
    background-color: #3882F6;
    border-color: #3882F6;
    border-radius: 4px;
}

.right-card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    flex: 1;
}

.two {
    display: flex;
    flex-direction: column;
}

.random {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    padding-top: 18px;
}

img {
    height: 90px;
    width: 90px;
    border: 2px solid #3882F6;
    border-radius: 12px;
}

.gallery {
    display: flex;
    padding: 45px;
    
}

.first,
.second,
.third,
.fourth {
    display:flex;
    flex-direction: column;
    align-items: center;
}
.firstCaption,
.secondCaption,
.thirdCaption,
.fourthCaption {
    text-align: center;
}

.three {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 45px;
}

.quote {
    text-align: left;
    font-size: 36px;
    font-style: italic;
    font-weight: light;
}

.thor {
    text-align: right;
    font-weight: bold;
}

.four {
    display: flex;
    flex-direction: column;
    padding: 45px;
}

.box {
    border-radius: 12px;
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 45px;
}

.boxItems {
    display: flex;
    justify-content: space-between;
}

.boxText {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: lighter;
}

.boxItems .sign-Up {
    color:#E5E7EB;
    border-color: #E5E7EB;
}

.footer {
    background-color: #1f2937;
    color: #E5E7EB;
    padding: 45px;
    text-align: center;
}

.one,
.two,
.three,
.four {
    padding-left: 100px;
    padding-right: 100px;
}