.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style: none;
    border: none;
    padding: none;
}

.links {
    display: flex;
    gap: 16px;
}

.cards {
    display: flex;
    justify-content: space-between;
}

.left-card {
    display: flex;
    flex-direction: column;
    align-items: baseline;

}